# This file contains common pin mappings for the BIGTREETECH EBB36
# GEN2 board. To use this config, the firmware should be compiled for the
# STM32G0B1 with "8 MHz crystal" and "USB (on PA11/PA12)" or "CAN bus (on PB12/PB13)" .
# The "EBB36 GEN2" micro-controller will be used to control the components on the nozzle.

# See docs/Config_Reference.md for a description of parameters.

[temperature_sensor EBB36]
sensor_type: Generic 3950
sensor_pin: EBB:PA0
pullup_resistor: 2200

[lis2dw]
cs_pin: EBB:PB1
spi_bus:spi2_PB2_PB11_PB10
axes_map: x,y,z

[extruder]
step_pin: EBB:PB14
dir_pin: EBB:PA8
enable_pin: !EBB:PB6
microsteps: 32
full_steps_per_rotation: 200
rotation_distance: 4.69
nozzle_diameter: 0.4                              #define nozzle diameter
filament_diameter: 1.750
max_extrude_only_distance: 500
max_extrude_only_velocity: 120
pressure_advance: 0.025                         #to be calibrated
pressure_advance_smooth_time: 0.03     #to be calibrated
heater_pin: EBB:PB4
sensor_type: PT1000
pullup_resistor: 2200
sensor_pin: EBB:PA3
min_temp: 0
max_temp: 300

[tmc2209 extruder]
uart_pin: EBB:PB3
run_current: 0.750
interpolate: false
stealthchop_threshold: 0
driver_TBL: 0
driver_HEND: 6
driver_HSTRT: 7
driver_TOFF: 4


[heater_fan Hotend_Fan]
pin: EBB:PD2
tachometer_pin: EBB:PA4
heater: extruder
heater_temp: 50.0

[neopixel Hotend]
pin: EBB:PC7
chain_count: 3                           # Number of LED beads in the chain
color_order: GRBW                        # Color order for RGBW LEDs
initial_RED: 0                         # Initial red brightness
initial_GREEN: 0.5                       # Initial green brightness
initial_BLUE: 0                        # Initial blue brightness


